<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Aduca -  Education HTML Template</title>

    @Styles.Render("~/Content/ClientELearningCss")
    @Scripts.Render("~/bundles/ClientELearningJQuery")
</head>
<body>

    <!-- start cssload-loader -->
    <div class="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- end cssload-loader -->
    <!--======================================
            START HEADER AREA
        ======================================-->
    <header class="header-menu-area">

        <div class="header-menu-content bg-white">
            <div class="container">
                <div class="main-menu-content">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-box">

                                <a href="index.html" class="logo"><img src="/Asset/eLearning/Client/Libraries/images/logo.png" alt="logo"></a>
                                <div class="user-btn-action">
                                    <div class="off-canvas-menu-toggle main-menu-toggle icon-element icon-element-sm shadow-sm" data-toggle="tooltip" data-placement="top" title="Main menu">
                                        <i class="la la-bars"></i>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col-lg-2 -->
                        <div class="col-lg-10">
                            <div class="menu-wrapper">
                                <nav class="main-menu">
                                    <ul>
                                        <li>
                                            <a href="/">Home <i class="la fs-12"></i></a>

                                        </li>
                                        <li>
                                            <a href="/ElcCourse">courses <i class="la fs-12"></i></a>

                                        </li>
                                        <li>
                                            <a href="/ElcEvent">event <i class="la fs-12"></i></a>

                                        </li>

                                        <li>
                                            <a href="/ElcContent">blog <i class="la fs-12"></i></a>

                                        </li>


                                        <li>
                                            <a href="#">Pages <i class="la la-angle-down fs-12"></i></a>
                                            <ul class="dropdown-menu-item">
                                                <li><a href="#">#</a></li>
                                                <li><a href="#">Giới thiệu</a></li>
                                                <li><a href="#">Liên hệ</a></li>
                                            </ul>
                                        </li>


                                    </ul><!-- end ul -->
                                </nav><!-- end main-menu -->
                                <div class="shop-cart mr-4">
                                    <ul>
                                        <li>
                                            <p class="shop-cart-btn d-flex align-items-center">
                                                <i class="la la-shopping-cart"></i>
                                                <span class="product-count">2</span>
                                            </p>
                                            <ul class="cart-dropdown-menu">
                                                <li class="media media-card">
                                                    <a href="shopping-cart.html" class="media-img">
                                                        <img src="images/small-img.jpg" alt="Cart image">
                                                    </a>
                                                    <div class="media-body">
                                                        <h5><a href="course-details.html">The Complete JavaScript Course 2021: From Zero to Expert!</a></h5>
                                                        <span class="d-block lh-18 py-1">Kamran Ahmed</span>
                                                        <p class="text-black font-weight-semi-bold lh-18">$12.99 <span class="before-price fs-14">$129.99</span></p>
                                                    </div>
                                                </li>
                                                <li class="media media-card">
                                                    <a href="shopping-cart.html" class="media-img">
                                                        <img src="images/small-img.jpg" alt="Cart image">
                                                    </a>
                                                    <div class="media-body">
                                                        <h5><a href="course-details.html">The Complete JavaScript Course 2021: From Zero to Expert!</a></h5>
                                                        <span class="d-block lh-18 py-1">Kamran Ahmed</span>
                                                        <p class="text-black font-weight-semi-bold lh-18">$12.99 <span class="before-price fs-14">$129.99</span></p>
                                                    </div>
                                                </li>
                                                <li class="media media-card">
                                                    <div class="media-body fs-16">
                                                        <p class="text-black font-weight-semi-bold lh-18">Total: <span class="cart-total">$12.99</span> <span class="before-price fs-14">$129.99</span></p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="shopping-cart.html" class="btn theme-btn w-100">Got to cart <i class="la la-arrow-right icon ml-1"></i></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!-- end shop-cart -->

                                @Html.Partial("_LoginPartial")

                                <div class="theme-picker d-flex align-items-center">
                                    <button class="theme-picker-btn dark-mode-btn" title="Dark mode">
                                        <svg id="moon" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                        </svg>
                                    </button>
                                    <button class="theme-picker-btn light-mode-btn" title="Light mode">
                                        <svg id="sun" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="5"></circle>
                                            <line x1="12" y1="1" x2="12" y2="3"></line>
                                            <line x1="12" y1="21" x2="12" y2="23"></line>
                                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                            <line x1="1" y1="12" x2="3" y2="12"></line>
                                            <line x1="21" y1="12" x2="23" y2="12"></line>
                                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                        </svg>
                                    </button>
                                </div>
                            </div><!-- end menu-wrapper -->
                        </div><!-- end col-lg-10 -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container -->
        </div><!-- end header-menu-content -->

        <div class="body-overlay"></div>
    </header><!-- end header-menu-area -->
    <!--======================================
    END HEADER AREA
    ======================================-->

    @RenderSection("slide", required: false)



    @RenderBody()

    <div class="section-block"></div>

    <!-- ================================
             END FOOTER AREA
    ================================= -->
    <section class="footer-area pt-20px">


        <div class="copyright-content py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="d-flex flex-wrap align-items-center">
                            <a href="index.html" class="pr-4">
                                <img src="/Asset/eLearning/Client/Libraries/images/logo.png" alt="footer logo" class="footer__logo">
                            </a>
                            <p class="copy-desc">Copyright &copy; 2021 <a href="https://techydevs.com/">TechyDevs</a> Inc.</p>
                        </div>
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="d-flex flex-wrap align-items-center justify-content-end">
                            <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14">
                                <li class="mr-3"><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                <li class="mr-3"><a href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyright-content -->
    </section><!-- end footer-area -->
    <!-- ================================
              END FOOTER AREA
    ================================= -->
    <!-- start scroll top -->
    <div id="scroll-top">
        <i class="la la-arrow-up" title="Go top"></i>
    </div>
    <!-- end scroll top -->

    <div class="tooltip_templates">
        <div id="tooltip_content_3">
            <div class="card card-item">
                <div class="card-body">
                    <p class="card-text pb-2">By <a href="teacher-detail.html">Jose Portilla</a></p>
                    <h5 class="card-title pb-1"><a href="course-details.html">The Complete WordPress Website Business Course</a></h5>
                    <div class="d-flex align-items-center pb-1">
                        <h6 class="ribbon fs-14 mr-2">Bestseller</h6>
                        <p class="text-success fs-14 font-weight-medium">Updated<span class="font-weight-bold pl-1">November 2020</span></p>
                    </div>
                    <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet d-flex align-items-center fs-14">
                        <li>23 total hours</li>
                        <li>All Levels</li>
                    </ul>
                    <p class="card-text pt-1 fs-14 lh-22">The skills you need to become a BI Analyst - Statistics, Database theory, SQL, Tableau – Everything is included</p>
                    <ul class="generic-list-item fs-14 py-3">
                        <li><i class="la la-check mr-1 text-black"></i> Become an expert in Statistics, SQL, Tableau, and problem solving</li>
                        <li><i class="la la-check mr-1 text-black"></i> Boost your resume with in-demand skills</li>
                        <li><i class="la la-check mr-1 text-black"></i> Gather, organize, analyze and visualize data</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn theme-btn flex-grow-1 mr-3"><i class="la la-shopping-cart mr-1 fs-18"></i> Add to Cart</a>
                        <div class="icon-element icon-element-sm shadow-sm cursor-pointer" title="Add to Wishlist"><i class="la la-heart-o"></i></div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
    </div><!-- end tooltip_templates -->
    <!-- template js files -->
    @RenderSection("scripts", required: false)
</body>
</html>